body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.section-one{
    display: flex;
    flex-flow: column nowrap;
    padding: 0 150px;
    background-color: #1F2937;
    align-items: stretch;
    justify-content: space-between;
    padding-bottom: 100px;
}

.header{
    display:flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 100px;
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul{
    display:flex;
    margin: 0;
    gap: 20px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.first-content, .left, .right{
    display: flex;
}

.left, .right{
    flex: 1 1 0;
}

.left{
    flex-flow: column wrap;
    align-items: flex-start;
    width: auto;
}

.left h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.left p{
    font-size: 18px;
    color: #E5E7EB;
}

.right{
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.432);
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    border: 0;
    padding: 5px 32px;
    border-radius: 10px;
}

button a{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
}

.section-two{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top:20px;
    gap: 20px;
    padding-bottom: 100px;
}

.section-two h2{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.deck{
    display: flex;
    flex-flow: row wrap;
    gap: 35px;
    align-content: center;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 210px;
}
.placeholder{
    border: 5px #3882F6 solid;
    border-radius: 15px;
    height: 170px;
    width: 165px;
}

.card-text{
    width: auto;
    padding: 0px 10px;
    text-align: center;
    color: #707070;
    font-size: 18px;
}

.section-three{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color:#E5E7EB;
    height: 450px;
}

.quotation{
    width:720px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quotee{
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
}